.product-card {
    background-color: white;
    border: 1px solid #eee;
    border-radius: 8px;
    width: 220px;
    padding: 15px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  .product-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    cursor: pointer;
  }
  
  .product-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .product-name {
    font-size: 16px;
    margin: 10px 0;
    color: black;
  }
  .product-name:hover{
    font-size: 17px;
    color: rgb(33, 156, 100);
  }
  
  .product-price {
    color: #ff6600;
    font-weight: bold;
  }
  
  .old-price {
    text-decoration: line-through;
    color: #761010;
    font-size: 17px;
    margin-left: 8px;
  }
  
  .discount {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e60023;
    font-size: 11px;
    color: #fff;
    background: #388e3c;
    font-family: Inter, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
    padding:  5px 7.5px 5px 5px;
    border: 3px solid #388e3c;
    border-radius: 5px;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bold;
    padding: 5px;
  }
   
    

  
  .product-link {
    display: block;
    text-align: center;
    background-color: #ff6600;
    color: white;
    padding: 8px;
    border-radius: 6px;
    text-decoration: none;
    margin-top: 8px;
  }
  
  .product-link:hover {
    background-color: #e65c00;
  }
  