.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    margin-right: 50px;
    margin-left: 50px;
}
.filterButton{
    background: none;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px 16px;
    cursor: pointer
}
.sort-menu select {
    border: 1px solid #ddd;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
  }
.sort-menu:hover{
    cursor: pointer;
}
@keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }