.home-container {
    padding: 40px;
    background-color: #f9f9f9;
  }
  
  .product-list {
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  