.home-container {
    padding: 40px;
    background-color: #f9f9f9;
  }
  
  .product-list {
    
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  .homeComponent{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    font-family: "Arial", sans-serif;
    
  }
  